.explore-nursary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }
  .explore-nursary h1 {
    color: #262626;
    font-weight: 700;

  }
  .explore-nursary-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
  }
  .explore-nursary-list::-webkit-scrollbar {
    display: none;
  }
  
  .explore-nursary-list-item img {
    border-radius: 50%;
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    transition: 0.2s;
  }
  .explore-nursary-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
  }
  .explore-nursary hr {
    border: none;
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
  }
  .explore-nursary-list-item .nursary-type{
    width: 100px;
    height: 100px;
  }
  .explore-nursary-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
    width: 100px;
    height: 100px;
  }
  @media screen and (max-width: 1050px) {
    .explore-nursary-text {
      max-width: 100%;
      font-size: 14px;
    }
  }
  